.container {
  padding: 1em, 10em, 1em, 10em;
}

textarea {
  resize: none;
}

.input {
  font-size: 12pt;
  float: left;
  padding: 0;
  margin-left: 2em;
  margin-top: 2em;
}

.output {
  margin-right: 2em;
  margin-top: 2em;
  background: gray;
  float: right;
  border: solid blue 1px;
}

.size {
  width: 40rem;
  height: 38rem;
}

.highlight {
  background: rgb(255, 255, 165);
}